# **Ejercicios de pair programming M√≥dulo 2 Sprint 2**
## **ETL: Lecci√≥n 4**
### **Carga I**

In [2]:
import pandas as pd
import requests
from datetime import datetime, timedelta
import mysql.connector

Es el momento de meter todos nuestros datos en SQL üí™üèΩ!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras.

- üìå Nota Todo lo tendremos que hacer desde jupyter notebook


1. Cread la BBDD con el nombre de energ√≠a. La BBDD tendr√° la siguiente forma:
2. Cread las tablas de la BBDD:
- Tabla fechas
- Tabla nacional_renovable_no_renovable
- Tabla comunidades_renovable_no_renovable
- Tabla comunidades

In [3]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="AlumnaAdalab" # aqu√≠ tendr√©is que poner vuestra contrase√±a de MySQL
    )
    print("Conexi√≥n realizada con √©xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [4]:
def crear_insertar_tabla(nombre_bbdd, contrase√±a, query):
    
    # nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root', password=f"{contrase√±a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
    # iniciamos el cursor
    mycursor = cnx.cursor()
    
    # intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [5]:
nombre_bbdd = "energia"

In [6]:
tabla_fechas = """
CREATE TABLE IF NOT EXISTS `energia`.`fechas` (
  `idfechas` INT NOT NULL,
  `fecha` DATE NULL,
  PRIMARY KEY (`idfechas`))
ENGINE = InnoDB;"""

In [7]:
tabla_comunidades = """

CREATE TABLE IF NOT EXISTS `energia`.`comunidades` (
  `idcomunidades` INT NOT NULL,
  `comunidad` VARCHAR(45) NULL,
  PRIMARY KEY (`idcomunidades`))
ENGINE = InnoDB; """

In [8]:
tabla_energia_nacional = """

CREATE TABLE IF NOT EXISTS `energia`.`nacional_renovable_no_renovable` (
  `idnacional_renovable_no_renovable` INT NOT NULL,
  `porcentaje` INT NULL,
  `tipo_energia` VARCHAR(45) NULL,
  `valor` DECIMAL NULL,
  `fechas_idfechas` INT NOT NULL,
  PRIMARY KEY (`idnacional_renovable_no_renovable`),
  INDEX `fk_nacional_renovable_no_renovable_fechas_idx` (`fechas_idfechas` ASC) VISIBLE,
  CONSTRAINT `fk_nacional_renovable_no_renovable_fechas`
    FOREIGN KEY (`fechas_idfechas`)
    REFERENCES `energia`.`fechas` (`idfechas`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;"""

In [9]:

tabla_energia_comunidades = """
CREATE TABLE IF NOT EXISTS `energia`.`comunidades_renovables_no_renovables` (
  `idcomunidades_renovables_no_renovables` INT NOT NULL,
  `porcentaje` INT NULL,
  `tipo_energia` VARCHAR(45) NULL,
  `valor` DECIMAL NULL,
  `fechas_idfechas` INT NOT NULL,
  `comunidades_idcomunidades` INT NOT NULL,
  PRIMARY KEY (`idcomunidades_renovables_no_renovables`),
  INDEX `fk_comunidades_renovables_no_renovables_fechas1_idx` (`fechas_idfechas` ASC) VISIBLE,
  INDEX `fk_comunidades_renovables_no_renovables_comunidades1_idx` (`comunidades_idcomunidades` ASC) VISIBLE,
  CONSTRAINT `fk_comunidades_renovables_no_renovables_fechas1`
    FOREIGN KEY (`fechas_idfechas`)
    REFERENCES `energia`.`fechas` (`idfechas`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_comunidades_renovables_no_renovables_comunidades1`
    FOREIGN KEY (`comunidades_idcomunidades`)
    REFERENCES `energia`.`comunidades` (`idcomunidades`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;
 """

In [10]:
crear_bbdd(nombre_bbdd)

Conexi√≥n realizada con √©xito
MySQLCursor: CREATE DATABASE IF NOT EXISTS energia;

In [11]:
crear_insertar_tabla(nombre_bbdd, "AlumnaAdalab", tabla_energia_nacional)
crear_insertar_tabla(nombre_bbdd, "AlumnaAdalab", tabla_energia_comunidades)
crear_insertar_tabla(nombre_bbdd, "AlumnaAdalab", tabla_comunidades)
crear_insertar_tabla(nombre_bbdd, "AlumnaAdalab", tabla_fechas)


- BONUS Insertar los datos en las tablas.


üìå Nota Esta parte del pair es optativa y no ser√° considerada para la evaluaci√≥n

In [14]:
# Cargamos los datos de la clase anterior para insertarlos:

df_nacional = pd.read_csv("data/energia_nacional.csv", index_col = 0)
df_ccaa = pd.read_csv("data/energia_ccaa.csv", index_col = 0)
df_censo_ccaa = pd.read_csv("data/censo_ccaa.csv", index_col = 0)