# **Ejercicios de pair programming Módulo 2 Sprint 2**
## **ETL: Lección 2**
### **Transformación: Limpieza**

---

In [2]:
import pandas as pd
import requests
from datetime import datetime, timedelta

In [39]:
df_ccaa = pd.read_csv("data/poblacion_comunidades.csv", index_col = 0)


  
- En la lección de hoy aprendimos como transformar nuestros datos para que estén preparados para almacearlos en una BBDD. En este momento tenemos dos fuentes de datos:

1. El csv donde tenemos la información censal de cada Comunidad Autónoma tiene algunas columnas que no son redundantes para nuestro análisis, en este csv tendremos que:
- Eliminar la columna de Comunidades_y_Ciudades_Autónomas

In [9]:
df_ccaa.drop(["Comunidades_y_Ciudades_Autónomas"], axis =1, inplace = True)

2. En el csv con la información de generación de energías renovables y no renovables a nivel nacional deberéis:
- Para las columnas value y percentage, redondear los decimales de los valores a 2.
- La columna datetime es de tipo string, pero esto a nosotras no nos interesa. Además, en esta columna tiene tanto la fecha como la hora, pero en realidad la hora no nos esta aportando nada de información, es por esto que:
- Deberéis crear una columna nueva donde solo tengamos la información de la fecha en formato AÑO / MES / DIA.
- Una vez creada la columna anterior, convertirla a datetime.

In [10]:
df_ccaa.head()

  Comunidad  indice   Año   Total
0     Ceuta    8744  2022  83.117
1     Ceuta    8744  2021  83.517
2     Ceuta    8744  2020  84.202
3     Ceuta    8744  2019  84.777
4     Ceuta    8744  2018  85.144

In [14]:
df_energias=pd.read_csv("data/energias.csv", index_col=0)
df_energias.head()

         value  percentage                       datetime       tipo
0  182024.9820    0.290121  2011-01-01T00:00:00.000+01:00  Renovable
1  265705.8895    0.387418  2011-01-02T00:00:00.000+01:00  Renovable
2  249489.5735    0.295983  2011-01-03T00:00:00.000+01:00  Renovable
3  270981.7130    0.310937  2011-01-04T00:00:00.000+01:00  Renovable
4  379833.0150    0.452824  2011-01-05T00:00:00.000+01:00  Renovable

In [17]:
df_energias["value"]=df_energias["value"].round(2)
df_energias["percentage"]=df_energias["percentage"].round(2)
df_energias.head()

       value  percentage                       datetime       tipo
0  182024.98        0.29  2011-01-01T00:00:00.000+01:00  Renovable
1  265705.89        0.39  2011-01-02T00:00:00.000+01:00  Renovable
2  249489.57        0.30  2011-01-03T00:00:00.000+01:00  Renovable
3  270981.71        0.31  2011-01-04T00:00:00.000+01:00  Renovable
4  379833.02        0.45  2011-01-05T00:00:00.000+01:00  Renovable

In [30]:
df_energias[["fecha","hora"]]=df_energias.datetime.str.split("T",expand = True)

df_energias.drop(["hora"], axis = 1, inplace=True)
df_energias["fecha"]=df_energias["fecha"].apply(pd.to_datetime)
df_energias.head()

       value  percentage                       datetime       tipo      fecha
0  182024.98        0.29  2011-01-01T00:00:00.000+01:00  Renovable 2011-01-01
1  265705.89        0.39  2011-01-02T00:00:00.000+01:00  Renovable 2011-01-02
2  249489.57        0.30  2011-01-03T00:00:00.000+01:00  Renovable 2011-01-03
3  270981.71        0.31  2011-01-04T00:00:00.000+01:00  Renovable 2011-01-04
4  379833.02        0.45  2011-01-05T00:00:00.000+01:00  Renovable 2011-01-05

3. En el csv con la información de generación de energías renovables y no renovables a nivel de comunidad autónoma deberéis aplicar los mismos cambios que aplicamos en el ejercicio anterior.
Guardar los resultados obtenidos en pickle que usaremos en próximos ejercicios de pair programming. Cada fichero debe ir en un pickle

In [31]:
df_ccaa.head()

  Comunidad  indice   Año   Total
0     Ceuta    8744  2022  83.117
1     Ceuta    8744  2021  83.517
2     Ceuta    8744  2020  84.202
3     Ceuta    8744  2019  84.777
4     Ceuta    8744  2018  85.144

In [36]:
df_ccaa["Año"]=df_ccaa["Año"].apply(pd.to_datetime)

In [47]:
df_ccaa.to_pickle("data/censo_ccaa.pickle")
df_energias.to_pickle("data/energias2.pickle")